.barra{
 font-family: sans-serif; 
 border-bottom: 2px solid rgb(186,179,213);
}

.encabezado{
  font-family: 'Roboto', sans-serif;
  font-weight:900;
  height: 10em;
  background-color:rgb(186,179,213);
  text-align: center;
  padding-top: 1.5em;
}

.imagen-carrito{
 margin-left: 35em;
 margin-top: 1em;
 width: 30px;
 height: 30px;
}



@media only screen and (max-width: 768px){
  .imagen-carrito{
    margin-left: 1em;
    width: 20px;
    height: 20px;
  }

}