/* NavBar */
.barra{
  font-family: sans-serif; 
  border-bottom: 2px solid rgb(186,179,213);
}

.barra-links:hover{
  text-decoration: underline;
  text-decoration-color: rgb(186,179,213);
}

/* ItemListContainer */
.encabezado{
  font-family: 'Roboto', sans-serif;
  font-weight:900;
  height: 10em;
  background-color:rgb(186,179,213);
  text-align: center;
  padding-top: 1.5em;
  margin-bottom: 3em;
}

/* CartWidget */
.imagen-carrito{
  margin-right: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 25px;
  height: 25px;
}

.cantidad-carrito{
  margin-left: -0.5em

}

/* ItemCount */
.item-count{
  font-family: 'Roboto', sans-serif; 
  width: 8em;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.flex-padre{
  display: flex; 
}

.suma-resta{
  height: 1.8em;
  width: 2em;
  font-weight: bolder;
  
  
}

.suma-resta:hover{
  background-color: rgb(186,179,213);
}

.input-cantidad{
  border: 1px solid black;
  width: 10em;
  height: 1.8em;
  text-align: center;
}

.boton-agregar{
  width: 10em;
  font-size: 0.8em;
  margin-bottom: 1px;
  font-weight: bolder;
}

.boton-agregar:hover{
  background-color: rgb(186,179,213);
}

/* Item */

.container-card{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 2em;
}

.body-card{
  font-family: 'Roboto', sans-serif; 
  font-size: 0.8em;
}

.titulo-card{
  font-size: 1.2em;
  font-weight: bolder;
}

.imagen-card{
  width: 12em;
  height: 17em;
}

/* ITEM DETAIL */

.detalle-item{
  border: 1px solid black;
  width: 60em;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  padding: 2em;
}

.detalle-imagen{
  width: 20em;
  height: 30em;
}

.detalle-libro{
  padding: 2em;
  font-family: 'Roboto', sans-serif; 
}
.descripcion-libro{
  width: 25em;
  font-size: small;
}

.titulo-libro{
  font-size: large;
  font-weight: bolder;
}

.detalle-stock{
  text-align: center;
  margin-top: 1em;
}

@media only screen and (max-width: 768px){
  .imagen-carrito{
    margin-right: 1em;
    width: 20px;
    height: 20px;
  }
  
  .cantidad-carrito{
    margin-left: -1.2em;
  }
  
  

}